<div class="row">
  <div class="col-lg-8">
  <h1>レストラン一覧</h1>
   <% @restaurants.each do |restaurant| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/restaurants/<%= restaurant.id %>" class="img-responsive user-photo"><%= restaurant.restaurant_name %></a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="thumbnail">
              <img src="<%= restaurant.url %>" >
            </div>
          </div>
          <div class="col-sm-10">
            <p>口コミ ?件</p>
            <div class="panel panel-default">
              <div class="panel-body">
                <p>コメントをここにだす</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
