
<h1>店舗情報</h1>
  <p>店舗名：<%= @restaurant.restaurant_name %></p>
  <p>電話番号：<%= @restaurant.phone %></p>
  <p>住所：<%= @restaurant.address %></p>
  <p><img src="<%= @restaurant.url %>" width="50" height="50"></p>


